#statistics-period-filter, #state-order-action {
    font-size: 16px;
    width: 120px;
    height: 28px;
}

#state-order-action {
	width: 150px;
} 

#state-order-action-wrp label , .statistics-period-filter-wrp label {
	font-weight: bold;
}

#statistics-filters-wrp {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px 0;
	position: relative;
}

#statistics-filters-wrp span {
    font-size: 16px;
    font-weight: bold;
}

#state-order-action-wrp {
	position: absolute;
	top: 7px;
	left: 125px;
}

.statistics-period-filter-wrp {
	position: absolute;
	top: 7px;
	left: 115px;
}

.statistics-period-filter-wrp [name="period_start"],  .statistics-period-filter-wrp [name="period_end"], .statistics-period-filter-wrp [name="today"] {
	width: 70px;
	height: 20px;
	font-size: 16px;
}

#show-statistics-worker {
	position: absolute;
	top: 7px;
	left: 350px;
	height: 30px;
	padding: 5px;
}

#link-list-workers {
	position: absolute;
	top: 15px;
	right: 5px;
}

/* filter actions */
#statistics-filter-actions-wrp {
	position: absolute;
	top: 8px;
	left: 470px;
}

#statistics-filter-actions {
    font-size: 16px;
    width: 200px;
    height: 28px;
}


