#plan-filter-level-wrp span {
	font-size: 16px;
	font-weight: bold;
}

#plan-filter-level-wrp span.green {
	margin-right: 30px;
}

#plan-level-filter , #plan-filter-actions{
    font-size: 16px;
    width: 120px;
    height: 28px;
	margin-right: 25px;
}

#plan-filter-actions {
	width: 200px;
}

#plan-filter-level-wrp {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

#plan-filter-level-wrp label {
    font-size: 16px;
    font-weight: bold;
}