/* products order */
.order-products-td {
	padding: 0;
}
.order-products-td table td {
	border: none;
}

.order-products-td table tr{
	border-bottom: 1px solid #C0C0C0;
}

.order-products-td table tr:last-child{
	border-bottom: none;
}

.order-products-td table td{
	border-right: 1px solid #C0C0C0;
}

.order-products-td table td:last-child{
	border-right: none;
}

.order-products-td table {
	width: 100%;
}

.order-products-td td:last-child{
	border-right: 1px solid white!important;
}



/* form search order */
#form-order-search-wrp {
    position: absolute;
    top: 10px;
    left: 657px;
}

#form-order-search-wrp input[type="submit"] {
    padding: 4px 10px 4px 10px;
	height: 30px;
}

#form-order-search-wrp input[type="text"] {
    width: 205px;
	height: 20px;
}




