.category-links {
	margin-right: 15px;
}

.content-category {
	font-size: 10px;
	text-align: left;
}

#product-categories a:hover {
	text-decoration: none;
}

.product-group-name {
	font-weight:bold;
	font-size: 16px;
}

.tab-content h2 {
	margin-top: -15px;
}
