body {
  background: #373737 url("/web/images/bg_terminal.png") 0 0 repeat;
  padding: 0;
  margin: 0;
}

#terminal-wrp {
	width: 920px;
	height: 600px;
	margin: 0 auto;
	margin-bottom: 50px;
}

#clock {
	font-size: 200px;
	text-align: center;
	color: #17D4FE;
	letter-spacing: 7px;
}

.terminal-orders-wrp, .terminal-products-wrp {
	margin: 30px 0 0 20px;
}

.terminal-order-box, .terminal-product-box {
	width: 280px;
	height: 150px;
	margin: 0 20px 20px 0;
	float: left;
	position: relative;
	background: yellow;
}

.terminal-order-box:hover, .terminal-product-box:hover {
	cursor: pointer;
	background: blue!important;
}

.terminal-info {
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	color: white;
	border-bottom: 1px solid black;
	padding-left: 20px;
}

.exit-link {
	position: fixed;
	color: white;
	top: 10px;
	right: 10px;
}

.orders-link {
	position: fixed;
	color: white;
	top: 10px;
	left: 10px;
}


.info-order {
	padding: 5px;
}

.info-product {
	position: absolute;
	font-size: 20px;
	top: 45%;
	left: 5px;
}

.info-state {
	position:absolute;
	bottom: 5px;
	right: 5px;
}