#operatins-box #info-product {
	text-align: center;
	font-size: 24px;
	color: white;
}

#operations-box h3 {
	color: white;
	text-align: center;
}

#terminal-operations-wrp {
	width: 430px;
	margin: 0 auto;
	color: black;
}

#terminal-operations-wrp:after {
	content: "";
	display: block;
	clear: both;
}

#terminal-operations-wrp div {
	width: 200px;
	height: 200px;
	border: 1px solid white;
	float: left;
	position: relative;
}

#terminal-operations-wrp div:hover {
	cursor: pointer;
	border: 1px solid black;
}

#terminal-operations-wrp div span {
	font-size: 20px;

}

#prod-state-made {
	margin-right: 20px;
	background: green;
}

#prod-state-made span {
	position: absolute;
	bottom: 5px;
	left: 16px;
}

#prod-state-stop {
	background: red;
}

#prod-state-stop span {
	position: absolute;
	bottom: 5px;
	left: 15px;
}

#exit-operations-box {
	margin-top: 20px;
	margin-right: 20px;
}

#exit-operations-box span {
	position: absolute;
	bottom: 5px;
	left: 70px;
}

#full-info-product {
	background: yellow;
	margin-top: 20px;
}

#full-info-product span {
	position: absolute;
	bottom: 5px;
	left: 43px;
}

.fa-pause, .fa-sign-out-alt, .fa-check, .fa-question , .fa-angle-double-right{
	font-size: 60px;
	color: white;
	margin: 65px 0 0 68px;
}




