body {
  background: #373737 url("/web/images/bg_terminal.png") 0 0 repeat;
  padding: 0;
  margin: 0;
}

#terminal-wrp {
	width: 900px;
	height: 600px;
	margin: 0 auto;
}

#terminal-wrp h3 {
	font-size: 30px;
	text-align: center;
	color: white;
}

#terminal-wrp h3 span {
	color: black;
}

.terminal-info {
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	color: white;
	border-bottom: 1px solid black;
	padding-left: 20px;
}

#terminal-clock {
	font-size: 200px;
	text-align: center;
	/*transform: translateX(-50%) translateY(-50%);*/
	color: #17D4FE;
	font-family: Orbitron serif;
	letter-spacing: 7px;
}

#terminal-orders-wrp, #terminal-products-wrp {
	margin-top: 80px;
}

#terminal-orders-wrp:after, #terminal-products-wrp:after {
	content: "";
	display: block;
	clear: both;
}

.terminal-order-box, .terminal-product-box {
	width: 250px;
	height: 150px;
	margin-right: 20px;
	border: 2px solid white;
	float: left;
	position: relative;
}

.terminal-order-box {
	background: yellow;
}

.terminal-order-box:hover, .terminal-product-box:hover {
	cursor: pointer;
	border: 2px solid red;
}

.exit-link {
	position: fixed;
	color: white;
	top: 10px;
	right: 10px;
}

.orders-link {
	position: fixed;
	color: white;
	top: 10px;
	left: 10px;
}


.info-order {
	padding: 5px;
}

.info-product {
	position: absolute;
	font-size: 20px;
	top: 45%;
	left: 5px;
}

.info-state {
	position:absolute;
	bottom: 5px;
	right: 5px;
}

#actions-info-product {
	margin: 20px 0 20px 0;
}