/*form add*/
#form-order-wrp h2, #form-order-position-wrp h2 {
	text-align: center;
}

#form-order-symbol-wrp input{
    width: 130px;
}

#form-order-type-wrp {
    position: absolute;
    top: 10px;
    left: 340px;
}

#form-order-type-wrp select {
    width: 140px;
    height: 30px;
}

#form-order-date-wrp {
    position: absolute;
    top: 10px;
    left: 610px;
}

#form-order-date-wrp input {
    width: 140px;
}

#form-order-add-wrp input[type="submit"], #form-order-position-wrp input[type="submit"] {
    margin-left: 290px;
}

#form-order-add-wrp input[type="button"], #form-order-position-wrp input[type="button"] {
    margin-left: 130px;
}

#form-order-note-wrp textarea {
	width: 915px;
}



#form-order-date-wrp #datepicker {
    width: 75px;
}

/* form add position */
#form-order-position-wrp input[name="symbol"] {
	margin-right: 50px;
}

.position-note-wrp {
	margin-top: 15px;
}

.position-note-wrp textarea {
	width: 915px;
}

/*form add action unplan*/
#form-order-action-unplan-wrp #form-order-products-wrp {
	margin-bottom: 15px;
}

#form-order-action-unplan-wrp #form-product-wrp {
	position: relative;
}

#form-order-action-unplan-wrp #form-product-name-wrp {
	position: absolute;
	top: 0;
	left: 440px;
}

#form-order-action-unplan-wrp #form-product-symbol-wrp input {
	width: 250px;
}

#form-order-action-unplan-wrp #form-product-name-wrp input {
	width: 360px;
}

#form-order-action-unplan-wrp #form-action-name-wrp {
	position: absolute;
	top: 10px;
	left: 260px;
}

#form-order-action-unplan-wrp #form-action-name-wrp input {
	width: 375px;
}

#form-order-action-unplan-wrp #form-action-time-wrp {
	position: absolute;
	top: 10px;
	left: 765px;
}

#form-order-action-unplan-wrp #form-action-time-wrp input {
	width: 100px;
}

#form-order-action-unplan-wrp textarea {
	width: 912px;
}

#form-order-action-unplan-wrp  select[name="id_action"] {
	width: 165px;
}

