#search-list-orders-wrp {
    margin-left: 15px;
}

#order-filter-state {
    font-size: 16px;
    width: 180px;
    height: 28px;
}

#order-filters-wrp {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px 0;
}

#order-filters-wrp span {
    font-size: 16px;
    font-weight: bold;
}