input[name="name"]  {
	width: 530px;
}

input[name="number"],  input[name="time_prepar"], input[name="time_prod"] {
	width: 60px;
	margin-right: 5px;
}

input[name="price"] {
	
	width: 80px;
	margin-right: 5px;
}

.product-action-properties-wrp input ~ span {
	margin-right: 20px;
}

#actions {
	width: 170px;
	margin-right: 25px;
}
