input[name="name"]  {
	width: 525px;
}

input[name="number"],  input[name="time_prepar"], input[name="time_prod"] {
	width: 60px;
	margin-right: 5px;
}

input[name="number"] {
	margin-right: 20px;
}

input[name="price"] {
	margin-right: 5px;
	width: 75px;
}

.product-action-properties-wrp input + span {
	margin-right: 20px;
}

input[name="time_prod"]  + span {
	margin-right: 0;
}

#actions {
	width: 170px;
	margin-right: 25px;
}

#form-product-action-wrp textarea {
	width: 915px;
}
